main {
    background-color: #1C1C1C;
    width: 100vw;
}

.banner {
    height: 70vh;
}

.banner-social img {
    height: 35px;
    margin-bottom: 2rem;
}

.banner button {
    background-color: #E82E35;
}

.banner button:hover {
    background-color: #E82E3550;
}

.banner .center img {
    width: 30rem;
}

.product {
    border: 4px solid #454545;
    background-color: #1C1C1C;
    min-height: 450px;
    height: auto;
    padding: 30px;
    position: relative;
    margin-bottom: 50px;
    width: 48%;
    overflow: hidden;
}

.collapse.show,
.collapsing {
    z-index: 1000;
}

.value {
    margin-bottom: 40px;
}

.value h5 {
    color: #454545;
    font-weight: 800;
}

.value h4 span {
    color: #E82E35;
    font-size: 2rem;
    font-weight: 700;
}

.name-product h3 {
    font-size: 2.5rem;
    width: 60%;
}

.more {
    margin-top: 40px;
}

.more a {
    text-decoration: none;
}

.more a span {
    color: #E82E35;
}

.more a img {
    width: 30px;
    margin-right: 10px;
}

.card.card-body.menu {
    background-color: #1E1E1E;
    border: 3px solid #454545;
    padding: 10px 20px;
    text-align: justify;
    list-style: none;
}

.card.card-body.menu ul {
    list-style: none;
}

.menu span {
    color: #E82E35;
}

.menu h5 {
    color: #E82E35;
    font-size: 1rem;
}

.menu p {
    color: #454545;
    font-size: 0.8rem;
}

.mouse-image {
    position: absolute;
    right: -15rem;
}


.mouse-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.informes h3 {
    color: #E82E35;
    font-size: 2rem;
    font-family: 'Press Start 2P', system-ui;
}

.informes a {
    color: #E82E35;
}

@media screen and (max-width: 991px) {
    .banner .center img {
        width: 25rem;
    }

    .product {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .mouse-image {
        display: none;
    }

    .name-product h3 {
        font-size: 1.5rem;
        width: 100%;
    }


    .value h5 {
        font-size: 1rem;
    }

    .value h4 span {
        font-size: 1rem;
    }

    .more a span {
        font-size: 1rem;
    }

    .more a img {
        width: 20px;
    }

}

@media screen and (max-width: 767px) {
    .banner {
        height: 50vh;
    }

    .banner .center img {
        width: 15rem;
    }

    .banner-social {
        gap: 15px;
    }

    .banner-social img {
        height: 25px;
        margin-top: 3rem;
    }

    .products {
        margin-top: 10rem;
    }

}