/* geral */
* {
    background-color: #1C1C1C;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
}

/*header*/

header {
    padding: 30px 0;
    background-color: #1C1C1C;
}

.navbar-brand img {
    width: 10rem;
    height: auto;
    text-align: center;
    align-self: center;
}

.nav a {
    color: white;
    font-weight: 700;
}

.nav a:hover {
    color: #E82E35;
}

/* main*/

main {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}


.about h2,
.services h2,
.products h2 {
    font-size: 3rem;
}

h1,
h2,
span {
    font-family: 'Press Start 2P', system-ui;
}


.banner {
    height: auto;
    margin: 5rem 0;
    position: relative;
    align-items: flex-start;
}

.banner img.banner-image {
    width: 60vw;
    height: auto;
    z-index: 1;
}

.banner .title {
    position: absolute;
    right: 23rem;
    z-index: 100;
    top: 75px;
    background-color: transparent;
    width: 30vw;
}

.banner h1 {
    font-size: 5rem;
    background-color: transparent;
}

.banner h1 span {
    background-color: transparent;
}

.banner .title p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    background-color: transparent;
}

.banner .title p span {
    font-family: 'Poppins', sans-serif;
}

span {
    color: #E82E35;
}

.logo-banner {
    width: 10rem;
    position: absolute;
    right: 80px;
    bottom: 50px;
}


.about {
    height: auto;
    position: relative;
    margin: 20px 0;
    overflow-x: hidden;
}

.about p {
    text-align: justify;
    width: 70%;
    font-size: 1.5rem;
}


.about .retangle {
    background-color: #E82E35;
    height: 40rem;
    width: 10rem;
}

.about img {
    background-color: transparent;
    width: 35rem;
    height: 25rem;
    position: absolute;
    right: -200px;
    top: 0;
    
}

.image-first,
.image-second,
.image-third,
.footer-image {
    height: auto;
}

.image-first img,
.image-second img,
.image-third img {
    width: 99vw;
    height: auto;
}

.footer-image img {
    width: 99vw;
    height: 50rem;
}

.services {
    height: auto;
}

.services h2 {
    width: 70%;
}

.services-container {
    gap: 10rem;
}

.first-row img {
    width: 50rem;
}

.second-row img {
    width: 40rem;
}

.third-row img {
    width: 50rem;
}

.four-row img {
    width: 45rem;
}


.products {
    height: auto;
    padding: 30px 0;
}

.products .retangle {
    background-color: #E82E35;
    height: 20rem;
    width: 15%;
}

.products .retangle-two {
    background-color: #242424;
    height: 20rem;
    width: 15.8%;
}

.container-products-one {
    width: 70vw;
    height: 40rem;
    border: 6px solid #454545;
}

.container-products-two {
    width: 70vw;
    height: 40rem;
    border: 6px solid #454545;
}

footer {
    height: auto;
}

.bar {
    height: 60rem;
    background-color: #E82E35;
    width: 20rem
}

.terms p {
    color: #444343;
}

.adress p {
    font-size: 0.9rem;
}

.whaterMark p,
.copyright p {
    color: #fff;
    font-size: 0.7rem;
}

.logo {
    margin: 4rem 0;
}

.logo img {
    width: 10rem;
}

.social {
    margin-top: 2rem;
}

.social img {
    width: 4rem;
}

.copyright {
    margin-top: 4rem;
}

.whaterMark {
    background-color: transparent;
    display: flex;
    align-items: center;
    bottom: 3rem;
    right: -20rem;
    font-family: "Pontano Sans", sans-serif;
    margin-bottom: 5rem;
}


.whaterMark img {
    width: 2rem;
}

.whaterMark span {
    font-family: "Pontano Sans", sans-serif;
}

.whaterMark a {
    text-decoration: none;
}

.whaterMark strong {
    font-family: "Praise", cursive;
    font-weight: normal;
    margin-right: 2px;
}

@media screen and (max-width: 1444px) {
    .banner .title {
        right: 20rem;
    }

    .banner h1 {
        font-size: 4rem;
        background-color: transparent;
    }

}

@media screen and (max-width: 1268px) {
    .banner .title {
        right: 18rem;
    }

    .banner .title p {
        font-size: 1.3rem;
    }

    .logo-banner {
        bottom: 10px;
    }

}

@media screen and (max-width: 1268px) {
    .banner .title {
        right: 15rem;
    }

    .banner .title p {
        font-size: 1.1rem;
    }

    .logo-banner {
        width: 8rem;
        bottom: 10px;
    }

}

@media screen and (max-width: 991px) {
    .nav a {
        font-size: 0.8rem;
    }

    .navbar-brand img {
        width: 6rem;
        height: auto;
    }

    .footer-image img {
        height: auto;
    }

    .bar {
        display: none;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .logo-banner {
        width: 5rem;
    }

    .banner .title p {
        font-size: 1rem;
    }

    .banner .title {
        right: 13rem;
    }

    .retangle {
        display: none;
    }

    .services img {
        width: 12rem;
    }


    .about p {
        text-align: center;
        width: 90%;
        font-size: 1.2rem;
    }

    .about img {
        width: 35rem;
        height: 25rem;
        position: absolute;
        right: -380px;
        top: 0;        
    }
}

@media screen and (max-width: 846px) {
    .banner {
        position: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin: 0;
        align-self: center;
    }

    .banner .title {
        position: inherit;
    }

    .banner .title p {
        text-align: center;
        align-self: center;
        width: 100vw;
    }

    .banner img.banner-image {
        width: 70vw;
    }

    .logo-banner {
        position: inherit;
    }

}

@media screen and (max-width: 767px) {
    .container-terms {
        gap: 3rem;
    }

    .logo img {
        width: 6rem;
    }

    .social img {
        width: 3.5rem;
    }

    header {
        display: none;
    }
}