/* PARA ACABAR 
    - DIRECIONAR OS LINKS
    - MENSAGENS PADRÃO DOS LINKS
    - AJUSTAR OS PREÇOS DOS PRODUTOS
*/

* {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #1C1C1C;
}

header {
    padding: 30px 0;
}

.navbar-brand img {
    width: 10rem;
    height: auto;
    text-align: center;
    align-self: center;
}

.nav a {
    color: white;
    font-weight: 700;
}

.nav a:hover {
    color: #E82E35;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.about h2,
.services h2,
.products h2 {
    font-size: 3rem;
}

h1,
h2,
span {
    font-family: 'Press Start 2P', system-ui;
}

#init,
#about,
#services,
#products {
    padding: 40px 0;
}

/*banner*/
.banner {
    height: auto;
    margin: 5rem 0;
    position: relative;
    align-items: flex-start;
}

.banner img.banner-image {
    width: 60vw;
    height: auto;
    z-index: 1;
}

.banner .title {
    position: absolute;
    right: 23rem;
    z-index: 100;
    top: 75px;
    background-color: transparent;
    width: 30vw;
}

.banner h1 {
    font-size: 5rem;
    background-color: transparent;
}

.banner h1 span {
    background-color: transparent;
}

.banner .title p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    background-color: transparent;
}

.banner .title p span {
    font-family: 'Poppins', sans-serif;
}

span {
    color: #E82E35;
}

.logo-banner {
    width: 10rem;
    position: absolute;
    right: 80px;
    bottom: 50px;
}

/*about*/

.about {
    height: auto;
    position: relative;
    margin: 20px 0;
    overflow-x: hidden;
}

.about p {
    text-align: justify;
    width: 70%;
    font-size: 1.5rem;
}


.about .retangle {
    background-color: #E82E35;
    height: 40rem;
    width: 10rem;
}

.about img {
    background-color: transparent;
    width: 35rem;
    height: 25rem;
    position: absolute;
    right: -200px;
    top: 0;
}


/*imagem decoração main*/
.image-first,
.image-second,
.image-third,
.footer-image {
    height: auto;
}

.image-third {
    margin-bottom: 30rem;
}

.image-first img,
.image-second img,
.image-third img {
    width: 100%;
    height: auto;
}

.footer-image img {
    width: 100vw;
    height: 50rem;
}

/*serviços*/

.services {
    height: auto;
}

.services h2 {
    width: 70%;
    margin-bottom: 10rem;
}

.services h3 {
    font-family: 'Press Start 2P', system-ui;
    font-size: 2.5rem;
    width: 100%;
}

.services p {
    margin-top: 2rem;
    font-size: 1.8rem;
    width: 100%;
}

.services p span {
    font-family: 'Poppins', sans-serif;
}

.services-container {
    gap: 10rem;
}

.first-row img,
.second-row img,
.third-row img,
.four-row img {
    width: 40rem;
}

/*produtos*/

.products {
    height: auto;
    padding: 30px 0;
    position: relative;
}

.products p,
.products span {
    background-color: transparent;
}

.products-one span,
.products-two span,
.products-three span {
    font-family: 'Poppins', sans-serif;
}

.products img {
    background-color: transparent;
}

.products .retangle {
    position: absolute;
    background-color: #E82E35;
    height: 20rem;
    width: 15%;
    left: 0;
    z-index: 0;
}

.products .retangle-two {
    position: absolute;
    background-color: #242424;
    height: 20rem;
    width: 15%;
    right: 0;
    z-index: 0;
}

.container-products-one span,
.container-products-two span {
    font-family: 'Poppins', sans-serif;
}

.container-products-one {
    z-index: 1;
    width: 70vw;
    height: 40rem;
    border: 6px solid #454545;
    padding: 30px 40px;
    background-image: url("../images/OTAKU.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 80%;
    position: relative;
}

.container-products-one img {
    height: 25rem;
    width: auto;
}

.container-products-one a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #E82E35;
}

.container-products-two img {
    width: auto;
    height: 15rem;
    background-color: transparent;
}

.container-products-two a {
    color: #E82E35;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.container-products-two {
    width: 70vw;
    height: 40rem;
    border: 6px solid #454545;
    padding: 30px 40px;
    background-image: url("../images/GEEK.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 80%;
    position: relative;
    z-index: 1;
}

.container-products-three {
    width: 70vw;
    height: 45rem;
    border: 6px solid #454545;
    padding: 30px 40px;
    position: relative;
    z-index: 1;
    background-image: url("../images/GAMER.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60% 40%;
}

.container-products-three a {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #E82E35;
}

.container-products-three .text {
    position: absolute;
    bottom: 20px;
    align-self: center;
}

.container-products-three img {
    position: absolute;
    width: 40rem;
    top: 0;
    left: 40rem;
}

.container-products-three-one {
    margin: 0;
    width: 70vw;
    height: 30rem;
    border: 6px solid #454545;
    position: relative;
    z-index: 1;
}

.container-products-three-one a,
.container-products-three-two a {
    text-decoration: none;
}

.container-products-three-one .container-one {
    margin: 0;
    width: 50%;
    height: 100%;
    border-right: 6px solid #454545;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-products-three-one .container-two {
    margin: 0;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container-products-three-one .value {
    position: absolute;
    top: 40px;
    left: 40px;
}

.container-products-three-one .value h5 {
    color: #454545;
    font-weight: 800;
}

.container-products-three-one .value h4 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container-products-three-one .name-product h3 {
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    left: 40px;
    bottom: 0;
    background-color: transparent;
}

.container-products-three-one .name-product {
    width: 100%;
    height: 200px;
    background-image: url("../images/mouse.png");
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.container-products-three-one .more {
    position: absolute;
    bottom: 80px;
    left: 40px;
}

.container-products-three-one .more img {
    width: 30px;
    height: auto;
    margin-right: 1rem;
}

.container-one .mouse-image {
    height: 100%;
    position: absolute;
    right: -7px;
}

.container-two .name-product {
    width: 100%;
    height: 200px;
    background-image: url("../images/HEADSET.png");
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.container-two .headset-image {
    height: 100%;
    position: absolute;
    right: -5rem;
}

.container-products-three-two {
    margin: 0;
    width: 70vw;
    height: 30rem;
    position: relative;
    z-index: 1;
    border-right: 6px solid #454545;
    border-left: 6px solid #454545;
}

.container-products-three-two .container-three {
    margin: 0;
    width: 50%;
    height: 100%;
    border-right: 6px solid #454545;
    position: relative;
    overflow: hidden;
}

.container-three .keyboard-image {
    height: 100%;
    position: absolute;
    right: -2rem;
    top: 0;
}

.container-products-three-two .value {
    position: absolute;
    top: 40px;
    left: 40px;
}

.container-products-three-two .name-product {
    width: 100%;
    height: 200px;
    background-image: url("../images/KEYBOARD.png");
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.container-products-three-two .value h5 {
    color: #454545;
    font-weight: 800;
}

.container-products-three-two .value h4 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container-products-three-two .name-product h3 {
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    left: 40px;
    bottom: 0;
    background-color: transparent;
}

.container-products-three-two .more {
    position: absolute;
    bottom: 80px;
    left: 40px;
}

.container-products-three-two .more img {
    width: 30px;
    height: auto;
    margin-right: 1rem;
}


.container-products-three-two .container-four {
    margin: 0;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.container-four .name-product {
    width: 100%;
    height: 200px;
    background-image: url("../images/MOUSEPADS.png");
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.container-four .mousepad-image {
    height: 90%;
    position: absolute;
    right: -5rem;
    top: 0;
    z-index: 1;
}

.container-products-three-three {
    margin: 0;
    width: 70vw;
    height: 40rem;
    border: 6px solid #454545;
    padding: 30px 40px;
    position: relative;
    z-index: 1;
}

.container-products-three-three img {
    width: 80%;
    height: auto;
}

.container-products-three-three div div {
    background-color: #E82E35;
    width: 80%;
    height: 2px;
    margin-top: 3rem;
}

.container-products-three-three span {
    font-family: 'Poppins', sans-serif;
}

.container-products-three-three a {
    color: #E82E35;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.products .retangle-three {
    position: absolute;
    background-color: #E82E35;
    height: 85rem;
    width: 25%;
    left: 0;
    z-index: 0;
}

.product-section-one {
    background-color: transparent;
    width: 100%;
    height: 90%;
}

.product-section-two {
    background-color: transparent;
    width: 100%;
    height: 90%;
}

.product-section-two div {
    background-color: transparent;
}

.product-section-two div p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/*footer*/

footer {
    height: auto;
}

.bar {
    height: 60rem;
    background-color: #E82E35;
    width: 20rem
}

.terms p {
    color: #444343;
}

.terms a {
   text-decoration: none;
}

.adress p {
    font-size: 0.9rem;
}

.whaterMark p,
.copyright p {
    color: #fff;
    font-size: 0.7rem;
}

.logo {
    margin: 4rem 0;
}

.logo img {
    width: 10rem;
}

.social {
    margin-top: 2rem;
}
.social div{
    gap: 15px
}

.social a img {
    width: 3.6rem;
}

.copyright {
    margin-top: 4rem;
}

.whaterMark {
    background-color: transparent;
    display: flex;
    align-items: center;
    bottom: 3rem;
    right: -20rem;
    font-family: "Pontano Sans", sans-serif;
    margin-bottom: 5rem;
}

.whaterMark img {
    width: 2rem;
}

.whaterMark span {
    font-family: "Pontano Sans", sans-serif;
}

.whaterMark a {
    text-decoration: none;
}

.whaterMark strong {
    font-family: "Praise", cursive;
    font-weight: normal;
    margin-right: 2px;
}

/*media queries*/

@media screen and (max-width: 1800px) {
    .container-products-three {
        height: 35rem;
    }

    .container-products-three img {
        width: 32rem;
    }

    .container-products-three-one,
    .container-products-three-two {
        height: 25rem;
    }

    .container-products-three-one .more,
    .container-products-three-two .more {
        bottom: 30px;
    }

    .container-products-three-one .name-product,
    .container-products-three-two .name-product {
        height: 150px;
    }
}

@media screen and (max-width: 1700px) {
    .container-products-one img {
        height: 20rem;
        width: auto;
    }

    .container-products-two img {
        width: auto;
        height: 12rem;
    }

    .container-products-one,
    .container-products-two {
        height: 30rem;
        background-size: 100% 50%;
    }

    .container-products-three-one .value h4,
    .container-products-three-two .value h4 {
        font-size: 2rem;
    }

    .container-products-three-one .name-product h3,
    .container-products-three-two .name-product h3 {
        font-size: 3rem;
    }

}

@media screen and (max-width: 1630px) {
    .container-products-three {
        background-size: 70% 40%;
        height: 30rem;
    }

    .container-products-three img {
        width: 28rem;
        left: 35rem;
    }

    .container-products-three h3 {
        font-size: 1.6rem;
    }


}

@media screen and (max-width: 1596px) {
    .about img {
        width: 25rem;
    }

    .about .container-about {
        padding-left: 13rem;
    }

}

@media screen and (max-width: 1444px) {
    .banner .title {
        right: 20rem;
    }

    .banner h1 {
        font-size: 4rem;
        background-color: transparent;
    }

}

@media screen and (max-width: 1400px) {
    .services h2 {
        width: 100%;
    }

    .services img {
        width: 30rem;
    }

    .services h3 {
        width: 100%;
        font-size: 2rem;
    }

    .services p {
        font-size: 1.5rem;
    }

    .about .container-about {
        padding-left: 5rem;
    }

    .container-products-one img {
        height: 18rem;
        width: auto;
    }

    .container-products-two img {
        width: auto;
        height: 10rem;
    }
}

@media screen and (max-width: 1268px) {
    .banner .title {
        right: 15rem;
    }

    .banner .title p {
        font-size: 1.1rem;
    }

    .logo-banner {
        width: 8rem;
        bottom: 10px;
    }

}

@media screen and (max-width: 1199px) {
    .services h2 {
        width: 100%;
    }

    .services img {
        width: 25rem;
    }

    .services h3 {
        width: 100%;
        font-size: 1.6rem;
    }

    .services p {
        font-size: 1.2rem;
    }

    .container-products-one img {
        height: 15rem;
        width: auto;
    }


    .product-section-two div p {
        font-size: 0.9rem;
    }

    .container-products-one a,
    .container-products-two a {
        background-color: transparent;
    }

}

@media screen and (max-width: 991px) {
    .container-one .image-mobile {
        height: 150px;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: url("../images/image-mouse-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }

    .container-two .image-mobile {
        height: 150px;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: url("../images/image-headset-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }

    .container-three .image-mobile {
        height: 150px;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: url("../images/image-keyboard-mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }

    .container-four .image-mobile {
        height: 150px;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: url("../images/image-mousepad-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
    }

    #init {
        margin-bottom: 0;
    }

    .nav a {
        font-size: 0.8rem;
    }

    .navbar-brand img {
        width: 6rem;
        height: auto;
    }

    .footer-image img {
        height: auto;
    }

    .bar {
        display: none;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .logo-banner {
        width: 5rem;
    }

    .banner .title p {
        font-size: 1rem;
    }

    .banner .title {
        right: 13rem;
    }

    .retangle,
    .retangle-two,
    .retangle-three {
        display: none;
    }

    .services img {
        width: 25rem;
        margin-bottom: 2rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .about .container-about {
        padding-left: 8px;
    }

    .about p {
        text-align: justify;
        width: 100%;
        font-size: 1.2rem;
    }

    .about img {
        display: none;
    }

    .about .retangle {
        display: none;
    }

    .about h2,
    .services h2,
    .products h2 {
        font-size: 2rem;
    }

    .services h3 {
        font-size: 1.5rem;
        width: 70vw;
    }

    main {
        gap: 6rem;
    }

    .services-container {
        gap: 5rem;
    }

    .image-third {
        margin-bottom: 8rem;
    }

    .container-products-one,
    .container-products-two {
        width: 85vw;
        height: auto;
        background-image: none;
    }

    .container-products-one {
        background-image: url("../images/otaku-mobile.png");
        background-size: 50% 90%;
    }

    .container-products-two {
        background-image: url("../images/geekie-mobile.png");
        background-size: 50% 90%;
    }

    .products h4 {
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }

    .container-products-one a,
    .container-products-two a {
        position: inherit;
        margin-top: 3rem;
    }

    .container-products-three {
        width: 85vw;
        height: auto;
        background-image: none;

    }

    .container-products-three h4 {
        align-self: center;
        text-align: center;
    }

    .container-products-three .text {
        width: 100%;
        position: inherit;
        display: flex;
    }

    .container-products-three img {
        position: relative;
        left: 0;
        top: 0;
        background-color: transparent;
        width: 20rem;
        margin-bottom: 20px;
    }

    .container-products-three a {
        position: inherit;
    }

    .container-products-three h3 {
        font-size: 1.3rem;
    }

    .container-products-three-one,
    .container-products-three-two {
        width: 85vw;
        height: auto;
    }

    .container-products-three-one .container-one,
    .container-products-three-one .container-two,
    .container-products-three-two .container-three,
    .container-products-three-two .container-four {
        width: 100%;
        height: auto;
        border: 0;
    }

    .container-products-three-one .container-one,
    .container-products-three-two .container-three {
        border-bottom: 6px solid #454545;
        position: inherit;
        padding: 30px 0 50px;
    }

    .container-products-three-one .container-two,
    .container-products-three-two .container-four {
        position: inherit;
        padding: 30px 0 50px;
    }

    .container-products-three-one .value,
    .container-products-three-one .name-product,
    .container-products-three-two .value,
    .container-products-three-two .name-product {
        position: inherit;
        background-image: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: transparent;
    }

    .container-products-three-one .name-product,
    .container-products-three-two .name-product {
        height: auto;
    }

    .container-products-three-one .more,
    .container-products-three-two .more {
        position: inherit;
        background-image: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 0;
        left: 0;
    }


    .container-products-three-one .value h5,
    .container-products-three-two .value h5 {
        color: white;
        background-color: transparent;
        margin-bottom: 0.5rem;
    }

    .container-products-three-one .value h4,
    .container-products-three-two .value h4 {
        background-color: transparent;
    }

    .container-one .mouse-image,
    .container-two .headset-image,
    .container-three .keyboard-image,
    .container-four .mousepad-image {
        display: none;
    }

    .container-products-three-one .name-product h3,
    .container-products-three-two .name-product h3 {
        position: inherit;
        bottom: 0;
        left: 0;
        background-color: transparent;
        margin-top: 2rem;
    }

    .container-products-three-three {
        width: 85vw;
        height: auto;
    }

    .container-products-three-three a {
        position: inherit;
        margin-top: 2rem;
    }

    .container-products-three-three h4 {
        text-align: center;
    }

    .container-products-three-one .name-product h3,
    .container-products-three-two .name-product h3 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 860px) {
    .about .container-about {
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }

    .about p {
        text-align: justify;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 846px) {
    .banner {
        position: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin: 0;
        align-self: center;
    }

    .banner .title {
        position: inherit;
    }

    .banner .title p {
        text-align: center;
        align-self: center;
        width: 100vw;
    }

    .banner img.banner-image {
        width: 70vw;
    }

    .logo-banner {
        position: inherit;
    }

}

@media screen and (max-width: 767px) {
    .container-terms {
        gap: 3rem;
    }

    .container-products-three-three {
        padding: 20px;
    }

    .container-products-three-three img {
        width: 90%;
    }

    .logo img {
        width: 6rem;
    }

    .social a img {
        width: 3.5rem;
    }

    header {
        display: none;
    }

    .services img {
        width: 18rem;
    }

    .about .container-about h2,
    .products h2 {
        font-size: 1.8rem;
    }

    .about .container-about p {
        font-size: 1.1rem;
    }

    .services h3 {
        font-size: 1.5rem;
        width: 80vw;
    }

    .services p {
        font-size: 1.1rem;
    }

    .container-products-three img {
        width: 15rem;
    }

    .container-products-three h4 {
        font-size: 1rem;
    }

    .container-products-three h3 {
        font-size: 1.1rem;
    }

    .container-products-three-one .name-product h3,
    .container-products-three-two .name-product h3 {
        font-size: 1.5rem;
    }

    .container-products-three-one a,
    .container-products-three-two a {
        font-size: 0.9rem;
    }

    .container-products-three-one .value h5,
    .container-products-three-two .value h5 {
        font-size: 1rem;
    }

    .container-products-three-one .value span,
    .container-products-three-two .value span {
        font-size: 1.2rem;
    }

    .container-products-three-one .more a span,
    .container-products-three-two .more a span {
        font-size: 0.9rem;
    }

    .container-products-three-one .more img,
    .container-products-three-two .more img {
        width: 1.3rem;
        margin-right: 10px;
    }


}

@media screen and (max-width: 500px) {
    .copyright p {
        text-align: center;
    }

    .social a img {
        width: 2.5rem;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .about .container-about h2,
    .services h2,
    .products h2 {
        font-size: 1.4rem;
    }

    .about .container-about p {
        font-size: 1rem;
    }

    .services h3 {
        font-size: 1.1rem;
        width: 85vw;
    }

    .products h4 {
        font-size: 1rem;
    }

    .product-section-two div p {
        font-size: 0.9rem;
    }

    .services img {
        width: 15rem;
    }

    .services p {
        font-size: 0.9rem;
        width: 80vw;
    }

    .second-row img,
    .four-row img {
        width: 12rem;
    }

    .container-products-one img {
        height: 10rem;
        width: auto;
    }

    .container-products-two img {
        height: 9rem;
        width: auto;
    }
}